@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Mono";
  src: url("/Aeonik/AeonikMono-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply min-w-0;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
}

@keyframes spinner {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}